#finalprice {
    width: 90%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFAE0;
}

#finalprice h1{
    height: auto;
    width: 100%;
    overflow: auto;
    text-align: center;
}