* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 300;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#root {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
}

input {
  text-align: center;
  height: 60%;
  background-color: white;
  border: 1px solid black;
}

select {
  height: 60%;
  width: 10%;
  background-color: #FAEDCD;
  cursor: pointer;
}

button {
  width: 30%;
  height: 50%;
  background-color: #FAEDCD;
  border: 1px solid rgb(55, 55, 55);
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover{
  transform: translateY(-3px);
}

@media (max-width: 700px) {
  #root {
    grid-template-rows: 5% 10% 50% 35%;
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "finalprice"
      "additems"
      "allitems";
  }

  #title {
    grid-area: title;
  }

  #finalprice {
    grid-area: finalprice;
  }

  #allitems {
    grid-area: allitems;
  }

  #additems {
    grid-area: additems;
  }
}